# This Notebook is used to get labels in range [0,9] instead of [1,10] for <code>myCorpus.csv</code>

In [1]:
import pandas as pd

In [2]:
old = pd.read_csv('myCorpus1.csv')

In [3]:
old

                                                  tweets  judgements
0      Anyways, despite the urgency its fraught. Just...           8
1      Wait...dont tell me the Mongolia trip was for ...           5
2      We were nominated in 5 different categories fo...          10
3      @Memm_J @SallyQYates Are you in fbi, cia, or o...          10
4                             Mexican moms dont care...           10
...                                                  ...         ...
14654  [@stefanyerlangga] Tonights #LoveItOrShoveIt a...          10
14655  Every now and then someone from this band says...          10
14656  I mean he literally makes the ball bounce with...           7
14657  Did he take a look at the new guy? #TrumpJudge...           8
14658  Investors Gold - still available\n\n#INGO #Inv...           9

[14659 rows x 2 columns]

In [4]:
def subtract1(x):
    return x-1

In [5]:
new = old.copy()

In [6]:
new['judgements'] = new['judgements'].apply(subtract1)

In [7]:
new

                                                  tweets  judgements
0      Anyways, despite the urgency its fraught. Just...           7
1      Wait...dont tell me the Mongolia trip was for ...           4
2      We were nominated in 5 different categories fo...           9
3      @Memm_J @SallyQYates Are you in fbi, cia, or o...           9
4                             Mexican moms dont care...            9
...                                                  ...         ...
14654  [@stefanyerlangga] Tonights #LoveItOrShoveIt a...           9
14655  Every now and then someone from this band says...           9
14656  I mean he literally makes the ball bounce with...           6
14657  Did he take a look at the new guy? #TrumpJudge...           7
14658  Investors Gold - still available\n\n#INGO #Inv...           8

[14659 rows x 2 columns]

In [8]:
new.to_csv('myCorpus.csv', index=False)